main#news.carousel .content {
   .save-carousel {
      margin-top: 12px;
      margin-bottom: 12px;
      background: #004d99;
      font-weight: bold;
   }
   .carousel-table {
      .actions {
         a {
            margin: 0;
            // font-size: 0.8rem;
            padding-left: 0;
            padding-right: 0;
            text-transform: uppercase;
            font-weight: bold;
            &.add-carousel-btn {
               color: #004d99;
            }
            &.remove-carousel-btn {
               color: #ec5d2f;
            }
            &:hover {
               background-color: transparent;
            }
         }
      }
   }
}

.carousel-wrapper {
         background: #fff;
         padding: 12px;
      }
      #carousel-control {
         display: flex;
         margin-bottom: 12px;
         .box {
            flex: 1;
            background: #e3e3e3;
            margin-left: 6px;
            margin-right: 6px;
            height: 250px;
         }
      }