main#news {
   height: 100%;
   padding-left: 240px;
   // padding-right: 12px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;

   ul.secondary-menu {
      flex: 0 0 60px;
      background: #fff;
      margin: 0;
      display: flex;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 18px;
      border-bottom: 1px solid #e3e3e3;
      li {
         margin: auto 18px;
         a {
            color: #424242;
            text-transform: uppercase;
            font-weight: bold;
            &.active {
               color: $brand-color;
            }
         }
      }
   }
   .content {
      flex: 1;
      padding: 12px;
      overflow-y: auto;
      .carousel-wrapper {
         background: #fff;
         padding: 12px;
      }
      #carousel-control {
         display: flex;
         margin-bottom: 12px;
         .box {
            flex: 1;
            background: #e3e3e3;
            margin-left: 6px;
            margin-right: 6px;
            height: 250px;
         }
      }
   }
}

#news {
   table.dataTable.no-footer {
      border-color: #e3e3e3;
   }
   table.dataTable thead th, table.dataTable thead td {
      border-color: #e3e3e3;
   }
   #DataTables_Table_0_filter {
    display: none;
  }
   // background-color: #fff;
   .news-table table {
      background: #fff none repeat scroll 0 0;
      border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
      th:first-child {
         width: 4%;
      }
      th:nth-child(2) {
         width: 6%;
      }
      th:nth-child(3) {
         width: 58%;
      }
      th:nth-child(4) {
         width: 10%;
      }
      th:nth-child(5) {
         width: 10%;
      }
      th:nth-child(6) {
         width: 12%;
      }
      td:nth-child(3) {
         font-weight: bold;
      }

      td {
        font-size: 0.9rem;
      }
      
      th:first-child,
      td:first-child {
         // width: 4rem;
         text-align: center;
      }
      tr td:nth-child(4) {
         color: rgba(0, 0, 0, .54);
      }
      tr[data-status="Published"] td:nth-child(4) {
         color: rgba(0, 0, 0, 0.87);
      }
      tr[data-status="Published"] td:nth-child(5) {
         color: #004d99;
      }
      tr[data-status="UnPublished"] td:nth-child(5) {
         // color: #ea4335;
      }
      tr[data-status="Draft"] td:nth-child(5) {
         // color: #fbbc05;
      }
      td {
         padding: 3px 18px;
      }
      td.actions {
         width: 180px;
         a {
            color: rgba(0, 0, 0, 0.87);
            margin: 0 8px;
            &.delete_icon {
               color: #ff5252;
            }
            &.publish_icon {
               color: #34a853; 
            }
            &.preview_icon {
               color: #fbbc05;
            }
            &.edit_icon {
               color: #4285f4;
            }
         }
         // justify-content: space-around;
      }
   }
   .semi-card {
      padding: 12px;
      background-color: #fff;
      box-shadow: 0 -1px 0 #e5e5e5, 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      .input-field {
         width: 100%;
      }
   }
   h4 {
      // color: #004d99;
      font-weight: bold;
   }
   form {
      .caret {
         z-index: 4;
      }
      h5  {
         color: #004d99;
         // font-weight: bold;
      }
      .file-field .btn {
         background-color: #ededed;
         color: rgba(0, 0, 0, 0.87);
         // box-shadow: none;
         &:hover {
            background-color: #ededed;
         }
      }
      .file-field .file-path-wrapper {
         padding-right: 20px;
         padding-left: 0;
      }
      input.select-dropdown {
         border-radius: 3px;
         box-shadow: 0 1px 2px 0 rgba(0,0,0,0.18),0 1px 2px 0 rgba(0,0,0,0.15);
         padding: 0px 12px;
         background-color: rgb(237, 237, 237);
         border-color: rgb(177, 177, 177);
         border: 0;
         text-transform: uppercase;
      }
      .submit-btn,
      .draft-btn {
         background-color: #004d99;
      }
   }
}

