#news-form {
   
   
   .semi-card {
      padding: 12px;
      background-color: #fff;
      box-shadow: 0 -1px 0 #e5e5e5, 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      .input-field {
         width: 100%;
      }
   }
   h4 {
      // color: #004d99;
      font-weight: bold;
   }
   form {
      .caret {
         z-index: 4;
      }
      h5  {
         color: #004d99;
         // font-weight: bold;
      }
      .file-field .btn {
         background-color: #ededed;
         color: rgba(0, 0, 0, 0.87);
         // box-shadow: none;
         &:hover {
            background-color: #ededed;
         }
      }
      .file-field .file-path-wrapper {
         padding-right: 20px;
         padding-left: 0;
      }
      input.select-dropdown {
         border-radius: 3px;
         box-shadow: 0 1px 2px 0 rgba(0,0,0,0.18),0 1px 2px 0 rgba(0,0,0,0.15);
         padding: 0px 12px;
         background-color: rgb(237, 237, 237);
         border-color: rgb(177, 177, 177);
         border: 0;
         text-transform: uppercase;
      }
      .submit-btn,
      .draft-btn {
         background-color: #004d99;
      }
   }
}

