html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5; }

body {
  font-family: 'Merriweather Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Inconsolata'; }

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08); }

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important; }

.toast.error {
  background-color: #F71735; }

main#index {
  height: 100%;
  padding-bottom: 150px;
  display: flex;
  align-items: center; }
  main#index .container {
    text-align: center; }
    main#index .container #logo {
      display: block;
      margin-bottom: 36px; }
      main#index .container #logo img {
        height: 120px; }
    main#index .container .welcome-msg {
      color: #666;
      font-size: 1.5rem;
      line-height: 36px; }
    main#index .container .login-card {
      margin: 24px auto;
      max-width: 600px; }
      main#index .container .login-card .card-action {
        text-align: right; }
      main#index .container .login-card form i.active {
        color: #004d99; }
      main#index .container .login-card form label {
        text-align: left; }
      main#index .container .login-card form input[type=text]:focus:not([readonly]) + label,
      main#index .container .login-card form input[type=password]:focus:not([readonly]) + label {
        color: #004d99; }
      main#index .container .login-card form input[type=text]:focus:not([readonly]),
      main#index .container .login-card form input[type=password]:focus:not([readonly]) {
        box-shadow: 0 1px 0 0 #004d99;
        border-bottom: 1px solid #004d99; }
      main#index .container .login-card form span.result {
        font-size: 0.9rem;
        font-weight: bold; }
        main#index .container .login-card form span.result.error {
          color: #F05D5E; }
      main#index .container .login-card form .btn {
        background-color: #004d99; }

.side-nav.fixed {
  width: 240px; }
  .side-nav.fixed li a {
    color: #6a6c6f;
    font-family: 'Merriweather Sans', sans-serif; }
    .side-nav.fixed li a i {
      margin-right: 12px; }
  .side-nav.fixed li:hover a,
  .side-nav.fixed li:hover i {
    color: #004d99; }
  .side-nav.fixed li.active {
    background-color: #3E78B2; }
    .side-nav.fixed li.active a,
    .side-nav.fixed li.active i {
      color: #fff; }
  .side-nav.fixed li.logo {
    line-height: 100px; }
    .side-nav.fixed li.logo a {
      height: 100px;
      line-height: 100px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #004d99;
      font-family: 'Inconsolata';
      text-align: center; }

main {
  padding-left: 240px;
  overflow-y: auto; }

main#chat {
  height: 100%;
  display: flex; }
  @media only screen and (min-width: 993px) {
    main#chat {
      padding-left: 300px; } }
  main#chat .box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
    width: 400px;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  main#chat .groups-list-wrapper {
    flex: 0 0 430px;
    position: relative; }
    main#chat .groups-list-wrapper .groups-list-box {
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 15px;
      display: flex;
      flex-direction: column; }
      main#chat .groups-list-wrapper .groups-list-box .search {
        position: relative;
        flex: 0 0 60px;
        background-color: #3E78B2;
        border-radius: 4px 4px 0 0;
        display: flex;
        align-items: center; }
        main#chat .groups-list-wrapper .groups-list-box .search input[type="search"] {
          margin: 0 auto;
          height: 40px;
          width: 90%;
          background: #fff;
          border: 1px solid #f6f6f6;
          border-radius: 6px;
          padding-right: 50px;
          padding-left: 10px;
          box-sizing: border-box; }
          main#chat .groups-list-wrapper .groups-list-box .search input[type="search"]:focus:not([readonly]) {
            border: 1px solid #e0e0e0;
            box-shadow: none; }
        main#chat .groups-list-wrapper .groups-list-box .search i {
          position: absolute;
          top: 18px;
          right: 30px;
          color: #b3b3b3; }
      main#chat .groups-list-wrapper .groups-list-box ul.groups-list {
        margin: 0;
        flex: 1;
        overflow-y: auto; }
        main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.loading,
        main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.error {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: 'Inconsolata';
          font-weight: bold;
          font-size: 1.4rem; }
        main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.error {
          color: #d6402d; }
        main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group {
          position: relative;
          display: flex;
          align-items: center;
          border-top: 1px solid #f2f2f2;
          padding-top: 12px;
          padding-bottom: 12px;
          min-height: 100px; }
          main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group.active {
            background: #FCF4D9; }
          main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .avatar {
            padding: 0 15px; }
            main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .avatar img {
              width: 49px;
              height: 49px; }
          main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .detail {
            flex: 1;
            display: flex;
            flex-direction: column; }
            main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .detail .title {
              font-weight: bold;
              color: #004d99;
              margin-bottom: 9px; }
            main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .detail .meta {
              font-size: 0.9rem;
              color: #005A04;
              font-weight: bold; }
              main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .detail .meta i {
                font-size: 1.2rem; }
              main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .detail .meta .users-count {
                margin-left: 36px; }
          main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .action {
            flex: 0 0 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; }
            main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .action i {
              color: #d6402d; }
            main#chat .groups-list-wrapper .groups-list-box ul.groups-list li.group .action .group_join--btn {
              margin-top: 6px; }
        main#chat .groups-list-wrapper .groups-list-box ul.groups-list #holmes-placeholder {
          padding: 12px;
          font-weight: bold;
          text-align: center; }
  main#chat .chat-windows-wrapper {
    flex: 1;
    position: relative;
    overflow-x: auto;
    display: flex;
    align-items: flex-end; }
    main#chat .chat-windows-wrapper .chat-window {
      flex: 0 0 400px;
      margin-left: 15px;
      margin-right: 15px;
      height: 87%;
      display: flex;
      flex-direction: column; }
      main#chat .chat-windows-wrapper .chat-window.peek-window .header {
        background: #FF5964; }
      main#chat .chat-windows-wrapper .chat-window.message-notification .header {
        background: #E9724C; }
      main#chat .chat-windows-wrapper .chat-window .header {
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        background: #004d99;
        border-radius: 4px 4px 0 0;
        color: white;
        font-weight: bold;
        padding: 12px; }
        main#chat .chat-windows-wrapper .chat-window .header .title {
          margin-left: 12px;
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        main#chat .chat-windows-wrapper .chat-window .header .close-chat {
          color: #fff; }
      main#chat .chat-windows-wrapper .chat-window ul.chat-messages {
        flex: 1;
        margin: 0;
        padding: 10px 20px 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column; }
        main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.connecting {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: 'Inconsolata';
          font-weight: bold;
          font-size: 1.4rem; }
        main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.error {
          color: #d6402d; }
        main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message {
          position: relative;
          margin-top: 6px;
          margin-bottom: 6px;
          background: #D74B4B;
          color: #fff;
          border-radius: 2px;
          box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
          margin: 12px 0;
          padding: 12px;
          min-height: 48px; }
          main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid; }
          main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message.them {
            align-self: flex-start; }
            main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message.them:before {
              border-width: 0 10px 10px 0;
              border-color: transparent #D74B4B transparent transparent;
              position: absolute;
              top: 0;
              left: -8px; }
          main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message.us {
            align-self: flex-end;
            background: #354B5E; }
            main#chat .chat-windows-wrapper .chat-window ul.chat-messages li.chat-message.us:before {
              border-width: 10px 10px 0 0;
              border-color: #354B5E transparent transparent transparent;
              position: absolute;
              top: 0;
              right: -8px; }
      main#chat .chat-windows-wrapper .chat-window .send-message {
        flex: 0 0 60px;
        border-top: 1px solid #e0e0e0;
        background: #e0e0e0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        main#chat .chat-windows-wrapper .chat-window .send-message i {
          padding: 0 9px; }
        main#chat .chat-windows-wrapper .chat-window .send-message input[type="text"] {
          margin-bottom: 0;
          border: 0;
          height: 40px;
          padding-left: 6px;
          padding-right: 6px;
          border-radius: 6px;
          box-sizing: border-box;
          background: #fff;
          box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }
          main#chat .chat-windows-wrapper .chat-window .send-message input[type="text"]:focus:not([readonly]) {
            box-shadow: none;
            border-bottom: 0; }

main#news {
  height: 100%;
  padding-left: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; }
  main#news ul.secondary-menu {
    flex: 0 0 60px;
    background: #fff;
    margin: 0;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    border-bottom: 1px solid #e3e3e3; }
    main#news ul.secondary-menu li {
      margin: auto 18px; }
      main#news ul.secondary-menu li a {
        color: #424242;
        text-transform: uppercase;
        font-weight: bold; }
        main#news ul.secondary-menu li a.active {
          color: #004d99; }
  main#news .content {
    flex: 1;
    padding: 12px;
    overflow-y: auto; }
    main#news .content .carousel-wrapper {
      background: #fff;
      padding: 12px; }
    main#news .content #carousel-control {
      display: flex;
      margin-bottom: 12px; }
      main#news .content #carousel-control .box {
        flex: 1;
        background: #e3e3e3;
        margin-left: 6px;
        margin-right: 6px;
        height: 250px; }

#news {
  background-color: #fff; }
  #news .news-table table {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-family: 'Roboto'; }
    #news .news-table table th:first-child {
      width: 4%; }
    #news .news-table table th:nth-child(2) {
      width: 6%; }
    #news .news-table table th:nth-child(3) {
      width: 60%; }
    #news .news-table table th:nth-child(4) {
      width: 10%; }
    #news .news-table table th:nth-child(5) {
      width: 10%; }
    #news .news-table table th:nth-child(6) {
      width: 10%; }
    #news .news-table table td:nth-child(3) {
      font-weight: bold; }
    #news .news-table table th:first-child,
    #news .news-table table td:first-child {
      width: 4rem;
      text-align: center; }
    #news .news-table table tr td:nth-child(4) {
      color: rgba(0, 0, 0, 0.54); }
    #news .news-table table tr[data-status="Published"] td:nth-child(4) {
      color: rgba(0, 0, 0, 0.87); }
    #news .news-table table tr[data-status="Published"] td:nth-child(5) {
      color: #34a853; }
    #news .news-table table td {
      padding: 5px; }
    #news .news-table table td.actions {
      width: 180px; }
      #news .news-table table td.actions a {
        color: rgba(0, 0, 0, 0.87);
        margin: 0 8px; }
        #news .news-table table td.actions a.delete_icon {
          color: #ff5252; }
        #news .news-table table td.actions a.publish_icon {
          color: #34a853; }
        #news .news-table table td.actions a.preview_icon {
          color: #fbbc05; }
        #news .news-table table td.actions a.edit_icon {
          color: #4285f4; }
  #news .semi-card {
    padding: 24px 12px;
    background-color: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; }
    #news .semi-card .input-field {
      width: 100%; }
  #news h4 {
    font-weight: bold; }
  #news form .caret {
    z-index: 4; }
  #news form h5 {
    color: #004d99;
    font-weight: bold; }
  #news form .file-field .btn {
    background-color: #ededed;
    color: rgba(0, 0, 0, 0.87); }
    #news form .file-field .btn:hover {
      background-color: #ededed; }
  #news form .file-field .file-path-wrapper {
    padding-right: 20px;
    padding-left: 0; }
  #news form input.select-dropdown {
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    padding: 0px 12px;
    background-color: #ededed;
    border-color: #b1b1b1;
    border: 0;
    text-transform: uppercase; }
  #news form .submit-btn,
  #news form .draft-btn {
    background-color: #004d99; }

main#add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  main#add-user .card {
    width: 600px; }

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-color: #9e9e9e; }

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #004d99; }

.carousel-list {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .carousel-list .carousel-item {
    flex: 0 0 200px;
    height: 120px;
    background: white; }
