.side-nav.fixed {
   width: 240px;
   li {
      &:hover {
         a,
         i {
            color: $brand-color;
         }
      }
      &.active {
         background-color: $lighter-brand-color;
         a,
         i {
            color: #fff;
         }

      }
   }
   li.logo {
      background-color: #fcfcfc;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 12px;
      a {
         height: 96px;
         font-size: 1.8rem;
         font-weight: bold;
         text-transform: uppercase;
         color: $brand-color;
         text-align: center;
      }
   }
}